[DEFAULT]

user: vuva
password: vuva@dac

sender = pc22.filab.uni-hannover.de
router = pc27.filab.uni-hannover.de
receiver = pc21.filab.uni-hannover.de
DAG= 172.23.90.219

[clocksync]
host:%(sender)s
command: echo "clocks synced"; 

[start]
host:%(receiver)s
command:killall -INT ITGRecv; ~/D-ITG-2.8.1-r1023/bin/ITGRecv;
after: {'clocksync':'clocks synced'}

[receiver]
host:%(receiver)s
command:sudo killall -INT tcpdump; sudo tcpdump tcp and dst 10.1.1.2 and src 10.1.2.2 or 10.1.3.2 -i any -w ~/logs/outage/dump-receiver.pcapng -j adapter --time-stamp-precision=nano;
after: {'start':'ITGRecv version'}

[sender]
host:%(sender)s
command: sleep 10; ~/D-ITG-2.8.1-r1023/bin/ITGSend -T TCP -a 10.1.1.2 -t %(SL_EXPTIME)s000 -c 1500 -C 1000
after: {'start':'ITGRecv version'}

[sender-tshark]
host:%(sender)s
command:sudo killall -INT tcpdump; sudo tcpdump tcp and dst 10.1.1.2 and src 10.1.2.2 or 10.1.3.2 -i any -w ~/logs/outage/dump-sender.pcapng -j adapter --time-stamp-precision=nano;
after: {'start':'ITGRecv version'}

[dag-capture]
host:%(DAG)s
command:sudo killall -INT dagsnap; sudo dagsnap -d0 -v -o %(SL_EX)s-%(SL_I)s.erf &
after: {'start':'ITGRecv version'}

[router]
host:%(router)s
command:killall -INT python3;
after: {'start':'ITGRecv version'}


[cleanupRecv]
host: %(receiver)s
command: killall -INT ITGRecv; sudo killall -INT tcpdump; sudo killall -INT tshark; sudo tshark -r ~/logs/outage/dump-receiver.pcapng -l -i any -T fields -e frame.number -e frame.time_epoch -e ip.src -e tcp.srcport -e ip.dst -e tcp.dstport -e ip.proto -e frame.len -e tcp.seq -e tcp.ack -e tcp.options.mptcp.rawdataseqno -e tcp.options.mptcp.rawdataack > ~/logs/outage/%(SL_EX)s-receiver-%(SL_I)s.csv ; rm ~/logs/outage/dump-receiver.pcapng;
after: {'sender':'Finished'}

[cleanupRouter]
host: %(router)s
command: sleep 10; killall -INT python3;
after: {'sender':'Finished'}

[cleanupSender]
host: %(sender)s
command: sudo killall -INT tcpdump; sudo killall -INT tshark; sudo tshark -r ~/logs/outage/dump-sender.pcapng -l -i any -T fields -e frame.number -e frame.time_epoch -e ip.src -e tcp.srcport -e ip.dst -e tcp.dstport -e ip.proto -e frame.len -e tcp.seq -e tcp.ack -e tcp.options.mptcp.rawdataseqno -e tcp.options.mptcp.rawdataack > ~/logs/outage/%(SL_EX)s-sender-%(SL_I)s.csv; rm ~/logs/outage/dump-sender.pcapng;
after: {'sender':'Finished'}

[cleanupDAG]
host: %(DAG)s
command: sudo killall -INT dagsnap; /home/brenton/wireshark-2.4.2/tshark -r %(SL_EX)s-%(SL_I)s.erf -l -Y "eth.dst == 00:1b:21:6c:50:88" -i any -T fields -e frame.number -e frame.time_epoch -e ip.src -e tcp.srcport -e ip.dst -e tcp.dstport -e ip.proto -e frame.len -e tcp.seq -e tcp.ack -e tcp.options.mptcp.rawdataseqno -e tcp.options.mptcp.rawdataack > dag-%(SL_EX)s-receiver-%(SL_I)s.csv; /home/brenton/wireshark-2.4.2/tshark -r %(SL_EX)s-%(SL_I)s.erf -l -Y "eth.src == 00:1b:21:6b:cd:b6 || eth.src ==00:1b:21:6b:cc:31" -i any -T fields -e frame.number -e frame.time_epoch -e ip.src -e tcp.srcport -e ip.dst -e tcp.dstport -e ip.proto -e frame.len -e tcp.seq -e tcp.ack -e tcp.options.mptcp.rawdataseqno -e tcp.options.mptcp.rawdataack > dag-%(SL_EX)s-sender-%(SL_I)s.csv;rm %(SL_EX)s-%(SL_I)s.erf;
after: {'sender':'Finished'}
