[DEFAULT]

user: vuva
password: vuva@dac

sender = pc22.filab.uni-hannover.de
router = pc27.filab.uni-hannover.de
receiver = pc21.filab.uni-hannover.de
DAG= 172.23.90.219
sendermac1 = 00:1b:21:6b:cc:30
sendermac2 = 00:1b:21:6b:cc:32
receivermac = 00:1b:21:6c:50:8a

[start]
host:%(receiver)s
command:killall -INT iperf3; iperf3 -s;

[receiver]
host:%(receiver)s
command:killall -INT ITGRecv; ~/D-ITG-2.8.1-r1023/bin/ITGRecv;
after: {'start':'Server listening'}

[sender]
host:%(sender)s
command: sleep 10; iperf3 -c 10.1.1.2 -t %(SL_EXPTIME)s
after: {'start':'Server listening'}

[sender-cross]
host:%(sender)s
command:sleep 10;~/D-ITG-2.8.1-r1023/bin/ITGSend -T UDP -a 10.1.1.2 -i enp7s0f0 -t %(SL_EXPTIME)s000 -c 1500 -O 600 & ~/D-ITG-2.8.1-r1023/bin/ITGSend -T UDP -a 10.1.1.2 -i enp6s0f0 -t %(SL_EXPTIME)s000 -c 1500 -O 600;
after: {'start':'Server listening'}


[dag-capture]
host:%(DAG)s
command:sudo killall -INT dagsnap; sudo dagsnap -d0 -v -o %(SL_EX)s-%(SL_I)s.erf &
after: {'start':'Server listening'}

[router]
host:%(router)s
command:killall -INT python3;
after: {'start':'Server listening'}

[cleanupRecv]
host: %(receiver)s
command: killall -INT iperf3; sudo killall -INT ITGRecv; echo "Iperf server down."
after: {'sender':'iperf Done.'}


[cleanupSend]
host: %(receiver)s
command: killall -INT iperf3; sudo killall -INT ITGSend;
after: {'sender':'iperf Done.'}


[cleanupDAG]
host: %(DAG)s
command: sudo killall -INT dagsnap; /home/brenton/wireshark-2.4.2/tshark -r %(SL_EX)s-%(SL_I)s.erf -l -Y "eth.dst ==%(receivermac)s" -i any -T fields -e frame.number -e frame.time_epoch -e ip.src -e tcp.srcport -e ip.dst -e tcp.dstport -e ip.proto -e frame.len -e tcp.seq -e tcp.ack -e tcp.options.mptcp.rawdataseqno -e tcp.options.mptcp.rawdataack > dag-%(SL_EX)s-receiver-%(SL_I)s.csv; /home/brenton/wireshark-2.4.2/tshark -r %(SL_EX)s-%(SL_I)s.erf -l -Y "eth.src ==%(sendermac1)s || eth.src ==%(sendermac2)s" -i any -T fields -e frame.number -e frame.time_epoch -e ip.src -e tcp.srcport -e ip.dst -e tcp.dstport -e ip.proto -e frame.len -e tcp.seq -e tcp.ack -e tcp.options.mptcp.rawdataseqno -e tcp.options.mptcp.rawdataack > dag-%(SL_EX)s-sender-%(SL_I)s.csv; rm %(SL_EX)s-%(SL_I)s.erf;
after: {'sender':'iperf Done.'}
